<!--<div class="row">
	<div class="span12" style='margin-bottom:20px;margin-top:10px;'>
		These are some of Magnus' tools, ported form the toolserver to <a href='http://tools.wmflabs.org/'>WMF Labs</a>.<br/>
		Please help me to prioritise <a href='//en.wikipedia.org/wiki/User:Magnus_Manske/tools2port'>tools to port</a> from the toolserver! See also the <a href='/magnus-toolserver'>list</a> of minor tools awaiting Labs enabling.
	</div>
</div>-->

<div class="row">

<div class='lead well' style='margin-top:20px;'>
This list is incomplete. Check out <a href='/hay/directory/#/author/Magnus%20Manske'>all my tools</a> on <a href='/hay/directory'>Hay's tool directory</a>!
</div>

<div class="span10">
	<h2><a name='commons'></a>Commons and files</h2>
	<div class='well well-small'>
		<ul class='unstyled'>
			<li><a href='/flickr2commons/'>Flickr2Commons</a> can upload single and multiple files from Flickr to Commons.</li>
			<li><a href='/geograph2commons/'>Geograph2Commons</a> can upload a single file from geograph.co.uk to Commons.</li>
			<li><a href='/commonshelper/'>CommonsHelper</a> can transfer files from wiki(p|m)edia to Commons.</li>
			<li><a href='/add-information/'>Add Information</a> adds an {{Information}} template to a file on Commons.</li>
			<li><a href='/add-information/no_information.php'>Files with no {{Information}}</a> template. Merged from "all_no_info" and "mynoinfo" on toolserver.</li>
			<li><a href='/usualsuspects/'>The Usual Suspects</a>, merged "Bad Boys" and "Bad Old Ones" from toolserver.</li>
			<li><a href='file_reuse/'>File reuse</a> allows you to drag'n'drop a file onto it, and show a thumbnail and attribution.</li>
			<li><a href='/fist/fist.php'>FIST</a>, the Free Image Search Tool.</li>
			<li><a href='/url2commons/index.html'>URL2Commons</a> can transfer files from a list of URLs to Commons.</li>
			<li><a href='/file-siblings/'>File siblings</a> builds, for a file, an HTML fragment with thumbnails of related images. See <a href='//de.wikipedia.org/wiki/MediaWiki:Gadget-ImageSiblings.js'>the corresponding JavaScript</a>.</li>
			<li><a href='/filedupes/'>FileDupes</a>, a merge of "userdupes" and "commons_dupes" from toolserver.</li>
			<li><a href='/multidesc/'>MultiDesc</a> generates multilingual gallery and file descriptions (a merge of "whatisthat" and "commons_sumitup").</li>
			<li><a href='./wiki2playlist.php'>Wiki2playlist</a> generates a .M3U playlist from files hosted on Commons.</li>
			<li><a href='/icommons/'>iCommons</a> is a Commons browser for mobile devices.</li>
			<li><a href='/magnustools/flickrfree.php'>FlickrFree</a> shows free, recently uploaded images on Flickr, ready for transfer to Commons.</li>
		</ul>
	</div>
</div>

<div class="span10">
	<h2><a name='categories'></a>Categories</h2>
	<div class='well well-small'>
		<ul class='unstyled'>
			<li><a href='/catscan2/catscan2.php'>CatScan 2</a> for complex category tree and template intersection.</li>
			<li><a href='/quick-intersection/index.php'>Quick intersection</a> for fast and simple category tree intersection.</li>
			<li><a href='/catscan2/pages_in_cats.php'>Pages in categories</a> counts pages in a category tree.</li>
			<li><a href='/catfood/catfood.php'>CatFood</a>, RSS feeds for pages and files based on category or user name.</li>
			<li><a href='/catfood/commons_image_feed.php'>Commons image feed</a>, RSS image feeds for Commons categories to use in screensavers etc.</li>
			<li><a href='/catnap'>CatNap</a> lists Wikipedia articles in a category grouped by their other categories.</li>
			<li><a href='/catscan2/cross_cats.php'>CrossCats</a> finds articles that ought to be in a category tree in a language via categories in other languages.</li>
			<li><a href='randomarticle.php'>Random page in category</a> redirects to a random page in a category.</li>
		</ul>
	</div>
</div>

<div class="span10">
	<h2><a name='wikidata'></a>Wikidata</h2>
	<div class='well well-small'>
		<ul class='unstyled'>
			<li><a href='https://tools.wmflabs.org/autolist/index.php?language=en&project=wikipedia&category=&depth=12&wdq=CLAIM%5B106%3A49757%5D%20AND%20CLAIM%5B21%3A6581072%5D%20AND%20BETWEEN%5B569%2C1935%5D&mode=undefined&statementlist=&run=Run&label_contains=&label_contains_not=&chunk_size=10000'>AutoList</a> (female poets born in/after 1955)</li>
			<li><a href='/wikidata-game/'>The Wikidata Game</a></li>
			<li><a href='/wikidata-terminator/'>Terminator</a> shows identical terms (labels) with missing descriptions.</li>
			<li><a href='/reasonator/'>Reasonator</a> - Wikidata "in pretty".</li>
			<li><a href='/not-in-the-other-language/'>Not in the Other Language</a> finds Wikidata items with a Wikipedia page in language A but not in B.</li>
			<li><a href='/wikidata-todo/'>Todo</a>, little things you can do on Wikidata.</li>
			<li><a href='//wdq.wmflabs.org'>WikiDataQuery</a>, an API for Wikidata items and properties.</li>
			<li><a href='/wikidata-todo/important_blank_items.php'>Important blank items</a>, Wikidata items with many language links that do not reference other items.</li>
			<li><a href='/mix-n-match/'>Mix'n'match</a>, "red link lists" matching to Wikidata items</li>
			<li><a href='/wikidata-todo/dupe_finder.php'>Find duplicate items</a> on Wikidata, via labels/aliases.</li>
			<li>Demos and small tools:
			<ul>
				<li><a href='http://tools.wmflabs.org/wikidata-todo/random_item_without_instance.php'>Random Wikidata item without "instance of"</a></li>
				<li><a href='http://tools.wmflabs.org/wikidata-todo/tempo_spatial_display.html?q=Q46083&title=The Franco-Prussian War&subtitle=Major battles'>Tempo-spatial display</a></li>
				<li><a href='http://tools.wmflabs.org/wikidata-todo/tree.html?q=23112&rp=131&method=d3'>Property trees</a></li>
				<li><a href='http://tools.wmflabs.org/wikidata-todo/stats.php'>Stats</a></li>
				<li><a href='http://tools.wmflabs.org/wikidata-todo/recent_deaths.html'>Recent deaths</a> tries to match recent celebrity deaths from Find-a-grave to Wikidata items</li>
				<li><a href='http://tools.wmflabs.org/wikidata-todo/project_stats.php'>Project link stats</a></li>
				<li><a href='http://tools.wmflabs.org/wikidata-todo/cloudy_concept.php'>Concept cloud</a> shows language labels for Wikipedia links from a Wikidata item</li>
				<li><a href='http://tools.wmflabs.org/wikidata-todo/creator.html'>Wikidata item creator</a> can create Wikidata items for articles that don't have one yet</li>
				<li><a href='/wikidata-todo/beacon.php'>BEACON</a> lists from Wikidata</li>
				<li><a href='http://tools.wmflabs.org/wikidata-todo/quick_statements.php'>Add statements and qualifiers</a></li>
			</ul>
			</li>
		</ul>
	</div>
</div>

<div class="span10">
	<h2><a name='glam'></a>GLAM</h2>
	<div class='well well-small'>
		<ul class='unstyled'>
			<li><a href='/glamtools/glamorous.php'>GLAMorous</a>, a tool to keep track of Commons images used on other projects..</li>
			<li><a href='/glamtools/baglama.php'>BaGLAMa</a>, monthly view counts for pages containing images from selected Commons categories.</li>
			<li><a href='/glamtools/treeviews/'>TreeViews</a>, monthly view statistics for category trees.</li>
			<li><a href='/magnustools/unused_files.php'>Unused files</a>, a list of files <i>not</i> used on Wikipedia, from a Commons category tree.</li>
		</ul>
	</div>
</div>


<div class="span10">
        <h2><a name='flagged'></a>Flagged revisions</h2>
        <div class='well well-small'>
                <ul class='unstyled'>
	                <li><a href='/sighting/deep_insight.php'>Deep InSight</a> shows unsighted pages by category, including subcategories.</li>
	                <li><a href='/sighting/deep_out_of_sight.php'>Deep out-of-sight</a> shows out-of-date sighted versions by category, including subcategories.</li>
	                <li><a href='/sighting/random_out_of_sight.php'>Random out-of-sight</a> shows out-of-date sighted versions that only differ a little by size (typo fixes etc).</li>
	                <li><a href='/sighting/outofsight.php'>Out-of-sight</a> randomly shows articles in de.wikipedia with out-of-date sighted versions.</li>
                </ul>
        </div>
</div>


<div class="span10">
        <h2><a name='wikisource'></a>Wikisource/DNB</h2>
        <div class='well well-small'>
                <ul class='unstyled'>
	                <li><a href='/book2scroll'>Book2scroll</a>, a book reader for Wikisource.</li>
	                <li><a href='/dnbtools/map2wp.php'>Map2WP</a> attempts to map DNB articles on wikisource to wikipedia.</li>
	                <li><a href='/dnbtools/dnb_wikisource.php'>Wikisource DNB</a> looks for inconsistencies in the wikisource link structures of the DNB.</li>
	                <li><a href='/dnbtools/dnb_ratios.php'>DNB ratios</a> gives page length ratios between Wikisource and Wikipedia articles.</li>
	                <li><a href='/dnbtools/dnb_link_finder.php'>DNB link finder</a> finds links to Google books DNB that would better point to Wikisource.</li>
                </ul>
        </div>
</div>

<div class="span10">
        <h2><a name='displays'></a>Displays</h2>
        <div class='well well-small'>
                <ul class='unstyled'>
	                <li><a href='/geohack/geohack.php?pagename=Berlin&params=52_31_N_13_23_E_type:city(3292365)_region:DE'>GeoHack</a> (example:Berlin), meta-map tool.</li>
	                <li><a href='./cas.php?language=en&cas=7601-54-9&title=Trisodium phosphate'>CAS</a> shows links to CAS numbers based on parameter.</li>
	                <li><a href='/isin/?language=de&isin=GB00B24CGK77'>ISIN</a> shows links to ISIN numbers (stock market) based on parameter.</li>
                </ul>
        </div>
</div>

<div class="span10">
        <h2><a name='generators'></a>Content generators</h2>
        <div class='well well-small'>
                <ul class='unstyled'>
	                <li><a href='/magnustools/prepbio.php'>PrepBio</a> generates infobox templates for biographies.</li>
	                <li><a href='./html2wiki.php'>HTML2wiki</a> can convert some HTML into wikitext, especially tables.</li>
					<li><a href='/magnustools/tab2wiki.php'>Tab2Wiki</a> converts tables (tab-delim, e.g. copied from Excel) to Wikitext tables.</li>
	                <li><a href='/makeref/'>MakeRef</a>, a form to generate &lt;ref&gt;erences.</li>
	                <li><a href='/isbn2wiki/'>ISBN2Wiki</a> generates wikitext reference texts for ISBNs.</li>
	                <li><a href='/magnustools/get_article_intro.php'>GetArticleIntro</a> returns the first sentence of an article as JSONP.</li>
	                <li><a href='/magnustools/update_article_counter.php'>Update article counter</a> updates the number of articles in a WikiProject.</li>
	                <li><a href='/templator/'>Templator</a> generates templates from forms.</li>
                </ul>
        </div>
</div>


<div class="span10">
        <h2><a name='queries'></a>Queries</h2>
        <div class='well well-small'>
                <ul class='unstyled'>
	                <li><a href='/missingtopics/'>MissingTopics</a> finds the "most wanted" missing topics in an article or category tree.</li>
	                <li><a href='/wiki-todo/'>Wiki ToDo</a> finds articles with things to do for you!</li>
	                <li><a href='/most-wanted/'>Most wanted</a> topics, measured by redlink count, for several languages.</li>
	                <li><a href='/magnustools/get_distinct_authors.php'>GetDistinctAuthors</a> gives the distinct (non-IP) list of editors on a set of articles.</li>
	                <li><a href='/magnustools/herding_sheep.php'>Herding Sheep</a> shows the (last) edits of all users in a user category.</li>
	                <li><a href='/magnustools/transparent.php'>Trans-parent</a> finds potential translators between two languages amongst Wikipedians.</li> 
                </ul>
        </div>
</div>


<div class="span10">
        <h2><a name='misc'></a>Miscellaneous</h2>
        <div class='well well-small'>
                <ul class='unstyled'>
	                <li><a href='/tusc/'>TUSC</a>, an authentication tool for tools.</li>
	                <li><a href='./wp_data_url.php?lang=en&title=Richard_Dawkins'>Data URL</a> demoing images as data URLs in Wikipedia, with or without WEBP.</li>
	                <li><a href='/magnus-toolserver'>Other old tools, not yet ported from toolserver. Ask if you need a particular one!</a></li>
                </ul>
        </div>
</div>

<div class="span10">
        <h2><a name='adopted'></a>Adopted tools</h2>
        <div class='well well-small'>
                <ul class='unstyled'>
	                <li><a href='/joanjoc/'>JoanJoc's tools</a>, something with language links.</li>
                </ul>
        </div>
</div>

</div>

<hr/>
<div>
<small>This "tool" also holds code shared between my other tools, and some "micro-tools" too tiny to warrant their own project.</small>
</div>
